@keyframes zoomAndShake {
    0%, 100% { transform: translate(-50%, -50%) scale(1); }
    20% { transform: translate(-50%, -60%) scale(1.1); } /* Zoom in */
    40% { transform: translate(-50%, -60%) rotate(-5deg) scale(1.1); } /* Start shaking */
    50% { transform: translate(-50%, -60%) rotate(5deg) scale(1.1); }
    60% { transform: translate(-50%, -60%) rotate(-5deg) scale(1.1); }
    70% { transform: translate(-50%, -60%) rotate(5deg) scale(1.1); }
    80% { transform: translate(-50%, -60%) rotate(0deg) scale(1.1); } /* Stop shaking */
    90% { transform: translate(-50%, -50%) scale(1); } /* Zoom out */
}

.pokeball_Loader {
    width: 30%;
    height: auto;
    animation: zoomAndShake 1.5s cubic-bezier(.36,.07,.19,.97) infinite;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
